<div class="container">
    <swiper-container loop="true" speed="500" autoplay-delay="2500" pagination="true" pagination-dynamic-bullets="true">
        <swiper-slide>
            <img src="https://media.istockphoto.com/id/1464708195/pt/foto/hand-grabbing-a-slice-of-delicious-cheesy-pepperoni-pizza.jpg?s=2048x2048&w=is&k=20&c=Cr34-qakPxWMg-g2UDd-jEWibGTBgc9jYGzOaX3hqPQ=" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="https://media.istockphoto.com/id/1138854221/pt/foto/slice-of-pizza.jpg?s=2048x2048&w=is&k=20&c=TNwEez9YvtvTr8Pk3sK9zLLEpOTmikcqdIupoP8ey6M=" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="https://media.istockphoto.com/id/1404892450/pt/foto/pizza-margherita.jpg?s=2048x2048&w=is&k=20&c=LojUVjgMPlu2dhKY8tsIXOfGS_EIfD8ybV9QfGthPis=" alt="">
        </swiper-slide>
    </swiper-container>
</div>