<div class="container">
    <div class="side-container left">
        <img src="https://imgur.com/UGZqB4N.png" alt="pizza-minimalist">
    </div>

    <div class="central-container">
        <div class="logo-container">
            <h1>Pizza Master</h1>
            <img src="https://i.imgur.com/ofmEZcX.png" alt="pizzaria-logo">
        </div>

        <div class="socials-container">
            <p>Fique ligado nas novidades seguindo nossas redes sociais!</p>
            <div class="socials">
                <ng-icon name="bootstrapInstagram" />
                <ng-icon name="bootstrapFacebook" />
                <ng-icon name="bootstrapLinkedin" />
            </div>
        </div>

        <div class="copyright">
            <p>© 2025 - Pedro Vieira - Todos os direitos reservados</p>
        </div>
    </div>

    <div class="side-container right">
        <img src="https://imgur.com/UGZqB4N.png" alt="pizza-minimalist">
    </div>
</div>
