<div class="container">
    <header>
        <app-header/>
    </header>

    <main>
        <div class="content">
            <h1 class="pizza-master">Pizza Master</h1>
            <app-carousel/>
            
            <div class="menu-container">
                <h1 class="section-title">Peça já a sua pizza!</h1>
                <div class="menu-columns-container">
                    <div class="menu-card-container">
                        <p>Confira o cardápio completo aqui!</p>
                        <button class="menu-button" (click)="redirectTo('/menu')">Cardápio</button>
                    </div>

                    <div class="product-carousel-container">
                        <app-product-carousel/>
                    </div>
                </div>
            </div>

            <div class="reviews-container">
                <h1 class="section-title">Nossas reviews</h1>
                <div class="reviews">
                    <app-reviews-carousel/>
                </div>
            </div>

            <div class="review-form-container">
                <h1 class="section-title">Faça a sua review!</h1>
                <app-review-form/>
            </div>
        </div>        
    </main>

    <footer>
        <app-footer/>
    </footer>
</div>