<div class="container">
    <header>
        <app-header/>
    </header>

    <main>
        <div class="content">
            <div class="title-and-cart">
                <h1 class="section-title">Cardápio</h1>
                <div class="cart-container" (click)="redirectTo('/my-cart')">
                    <ng-icon name="bootstrapCart3"></ng-icon>
                    <span class="cart-text">Ver meu carrinho</span>
                </div>
            </div>

            <div class="products-grid">
                <div class="product-card-wrapper" *ngFor="let product of products">
                    <app-menu-product-card [product]="product"/>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <app-footer/>
    </footer>
</div>
