/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

:root {
    --color-primary-hex: #E63946;
    --color-primary: rgb(230, 57, 70);

    --color-secondary-hex: #A41623;
    --color-secondary: rgb(164, 22, 35);

    --color-tertiary-hex: #D72638;
    --color-tertiary: rgb(215, 38, 56);

    --color-quaternary-hex: #BA1F2F;
    --color-quaternary: rgb(186, 31, 47);

    --color-quintenary-hex: #6E0E10;
    --color-quintenary: rgb(110, 14, 16);

    --color-yellow-hex: #FFC000;
    --color-yellow: rgb(255, 192, 0);

    --color-bg-hex: #F4F1DE;
    --color-bg: rgb(244, 241, 222);

    @include mat.dialog-overrides((
        container-color: white,
        container-max-width: 700px,
        container-shape: 10px,
        with-actions-content-padding: 0px,
        actions-padding: 0px,
    ));
}

html, body { height: 100%; background-color: var(--color-bg); }
body { margin: 0; }
