<div class="container">
    <header>
        <app-header/>
    </header>

    <main>
        <div class="content">
            <h1 class="section-title">Sobre nós</h1>
            <div class="text-container">
                <p>
                    A <span class="highlight">PizzaMaster</span> nasceu da paixão de <span class="highlight">Pedro Vieira</span> por pizza e pela arte de reunir pessoas ao redor de uma boa mesa. Nascido em Fortaleza - CE, Pedro vem de uma família com raízes cariocas e cearenses, uma mistura que reflete a diversidade e o sabor que você encontra em nossas pizzas.
                </p>
                <p>
                    Tudo começou em <span class="highlight">2025</span>, quando Pedro decidiu transformar sua paixão em um negócio. Inspirado pelas receitas de família e pela tradição de reunir amigos e familiares para saborear pizzas feitas com amor, ele abriu a primeira <span class="highlight">PizzaMaster</span> em Fortaleza. Desde o início, o objetivo era claro: oferecer pizzas de alta qualidade, com ingredientes frescos e um toque artesanal que só uma receita de família pode proporcionar.
                </p>
                <p>
                    O sucesso foi imediato. A combinação da massa crocante, do forno a lenha e dos sabores autênticos conquistou o paladar dos fortalezenses. Em pouco tempo, a <span class="highlight">PizzaMaster</span> se tornou um ponto de encontro para quem busca uma experiência gastronômica única.
                </p>
                <p>
                    Hoje, a <span class="highlight">PizzaMaster</span> está presente em várias cidades, mas mantém o mesmo compromisso com a qualidade, o sabor e o atendimento que nos fez crescer. Cada pizza que sai do nosso forno carrega um pedacinho da nossa história e do nosso amor pela culinária.
                </p>
                <p>
                    Venha nos visitar e faça parte da nossa jornada. Na <span class="highlight">PizzaMaster</span>, não servimos apenas pizza; criamos momentos inesquecíveis.
                </p>
            </div>

            <h1 class="section-title">Esclarecimentos</h1>
            <div class="clarifications-container">
                <p>
                    Este site da <span class="highlight">PizzaMaster</span> é um projeto fictício desenvolvido por <span class="highlight">Pedro Vieira</span> para seu portfólio. Todas as informações, imagens e elementos de design são criados para fins de demonstração e prática de habilidades em desenvolvimento web. A <span class="highlight">PizzaMaster</span> não é uma empresa real.
                </p>
                <p>
                    Se você é um recrutador ou deseja conhecer mais sobre o meu trabalho, sinta-se à vontade para explorar este site e entrar em contato.
                </p>
                <p>
                    Obrigado por visitar!
                </p>
            </div>

            <h1 class="section-title">Contato</h1>
            <div class="socials-container">
                <a class="icon-and-text" href="https://www.github.com/PedroVSX" target="_blank">
                    <ng-icon name="bootstrapGithub"></ng-icon>
                    <p>/PedroVSX</p>
                </a>
                <a class="icon-and-text" href="https://www.linkedin.com/in/pedrovieira2809/" target="_blank">
                    <ng-icon name="bootstrapLinkedin"></ng-icon>
                    <p>/pedrovieira2809</p>
                </a>
                <a class="icon-and-text" href="mailto:pedrovsx2004@gmail.com" target="_blank">
                    <ng-icon name="bootstrapEnvelopeFill"></ng-icon>
                    <p>pedrovsx2004&#64;gmail.com</p>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <app-footer/>
    </footer>
</div>